<div class="row">
	<div class="span6">
		<fieldset>
			<div class="control-group">
				<label class="control-label">Chaining</label>
				<div class="controls">
					<input class="span4" type="text" name="check[chain_id]" placeholder="Id of the check to run after this check" value="<%= check.getPollerParam('chain_id') || '' %>"/>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="span5">
		<fieldset>
			<div class="control-group">
				<label class="control-label">Chain delay</label>
				<div class="controls">
					<div class="input-append">
						<input class="span1" type="text" name="check[chainDelay]" value="<%= check.getPollerParam('chainDelay') || 0 %>">
						<span class="add-on">ms</span>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>
