<fieldset>
  <div class="control-group">
    <label class="control-label">Json query to match</label>
    <div class="controls">
      <textarea name="check[jsonpaths]" rows="3" class="span8" placeholder="Uses JSON query. Leave blank to disable."><%= check.getPollerParam('jsonpaths') || '' %></textarea>
    </div>
  </div>
</fieldset>
