<fieldset>
  <div class="control-group">
    <label class="control-label">SOCKS4 proxy</label>
    <div class="controls">
      <input type="text" name="check[socks4]" value="<%= check.getPollerParam('socks4') || '' %>" class="span8" placeholder="URI for socks4 proxy like socks://127.0.0.1:8080. Leave blank for no proxy."/>
    </div>
  </div>
</fieldset>